<html>
  <head>
    <title>Presentation!</title>
  </head>
  <body>
    <form id="" action="" method="GET">
      <h1>Ruby on Rails - Teste Route</h1>
      <h2>Seja bem vindo</h2>
      <h3>Rodrigo...</h3>
      <%= lint_to "Cadastro de Clientes", presentation_pa<th>

      </th> %>
    </form>
  </body>
</html>
