<html>
  <head>
    <title>Apresentação da view Teste Index</title>
  </head>
  <body>
    <form id="" action="" method="GET">
      <h1>Olá seja bem vindo ao TESTE!!!</h1>
      <h2>Sistema de estudo Rails!!!</h2>
      <h3><%= @teste  %></h3>
      <h4><3 Desenvolvimento.</h4>
    </form>
  </body>
</html>
